<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Merchant
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/qr-code.png"  alt="qr-code.png"/>
    <ion-card-content>
      <ion-text>This section shows the of how to scan a QRCode or Barcode to get the information</ion-text>

      <ion-button color="success" expand="full" (click)="scan()">Scan code</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-item *ngIf="data">
    <ion-label position="stacked">Scan Format</ion-label>
    <ion-input [value]="data.format" readonly></ion-input>
  </ion-item>
  <ion-item *ngIf="data">
    <ion-label position="stacked">Scan Information</ion-label>
    <ion-input [value]="data.text" readonly></ion-input>
  </ion-item>
  <ion-item *ngIf="response">
    <ion-label position="stacked">Response Information</ion-label>
    <ion-input [value]="response.title" readonly></ion-input>
  </ion-item>
</ion-content>
